@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}


body{ 
  background-color: #0A1628 !important;
  font-family: "Noto Sans" !important;
  overflow-x: hidden;
}
